/* main box style */
.box {
  width: 600px;
  height: 480px;
}

/* define font size */
.font-38px {
  font-size: 38px;
}

.font-36px {
  font-size: 36px;
}

.font-20px {
  font-size: 20px;
}

.font-14px {
  font-size: 14px;
}

.font-color-yellow {
  color: #FFDA2D;
}

/* submit button */
.submit-button {
    background: linear-gradient(90deg, #27AE60 0%, #56A82B 45.5%, #009045 100%);
    border: none; /* Remove border if desired */
    color: white; /* Set text color to contrast with the background */
    padding: 10px 20px; /* Adjust padding to your preference */
    font-size: 16px; /* Adjust font size to your preference */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer when hovering */
}

/* set hover and focus image color */
.image-container:hover .default-image,
.image-container:focus .default-image,
.image-container.hover .default-image {
  display: none;
}

.image-container .hover-image {
  display: none;
}

.image-container:hover .hover-image,
.image-container:focus .hover-image,
.image-container.hover .hover-image {
  display: block;
}
